<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Tracker</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Exercise Tracker</h1>
    <form action="/addWeight" method="Post">
        <!--
        <input type="text" name="name" placeholder="Name">
        -->
        <input type="number" name="pounds" placeholder="lbs">
        <input type="number" name="reps" placeholder="reps">
        <input type="number" name="sets" placeholder="sets">
        <input type="submit" value="Submit">
    </form>
    <section>
        <ul class="weights">
            
            <% for(let i=info.length-1; i >= 0; i--) {%>
                <li class="weight">
                    <% if(info[i].completed === true) {%>    
                        <span class="completed"><%= info[i].pounds %></span><span class="completed">lbs</span>
                        <span class="completed"><%= info[i].reps %></span><span class="completed"> reps x </span>
                        <span class="completed"><%= info[i].sets %></span><span class="completed"> sets</span>
                    <% }else{ %>
                        <span><%= info[i].pounds %></span><span>lbs</span>
                        <span><%= info[i].reps %></span><span> reps x </span>
                        <span><%= info[i].sets %></span><span> sets</span>
                    <% } %>
                    <span class="del">delete</span>
                </li>
            <% } %>
        </ul>
    </section>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>